.cursor-pointer {
    cursor: pointer;
}

.border-333 {
    border: 1px solid #333;
}

.border-666 {
    border: 1px solid #666;
}

.section-content {
    width: 50%;
}
@media (max-width: 1100px) {
    .section-content {
        width: 90%;
    }
}
