.w-40 {
    width: 40%;
}

.table-users__tr:hover {
    background-color: #ddd;
}

.table-users__tr:hover,
.table-users__tr--active {
    background-color: #ddd;
    cursor: pointer;
}

#table-users__btn-remove {
    position: absolute;
    top: 0;
    right: 0;
}

@media (max-width:1450px) {
    .table-users {
        font-size: 1.2rem;
    }
}
@media (max-width:1220px) {
    .table-users {
        font-size: 1.1rem;
    }
}
@media (max-width:1120px) {
    .table-users {
        font-size: 1rem;
    }
}
@media (max-width:1030px) {
    .table-users {
        font-size: 0.9rem;
    }
}
@media (max-width:540px) {
    .table-users {
        font-size: 0.8rem;
    }
}