.subscriptions__item:hover,
.offers__item:hover {
    background-color: #ccc;
}

.bg-ddd {
    background-color: #ddd;
}

#article-new-subscription {
    position: absolute;
    top:35%;
    left:25%;
    z-index: 100;
}